<!--{#login/templates/login/login.html#}-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>password_change</title>

    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width">

    <style>
        .loader {
            background-color: transparent !important;
        }

        .loader img {
            opacity: 1;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#db547c">

    <script src="/static/js/page-pcomic-register.js"></script>
    <link rel="stylesheet" href="/static/css/splide.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/picstyle.min.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/splide.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/ueserheader.min.js"></script>
    <script type="text/javascript" src="/static/js/js(1)" async=""></script>
</head>

<body>
    <!-- <div style="margin: 15% 40%;"> -->
    <!-- <h1>密码修改</h1>
        <form action="/passwordchange/" method="post">
            {% csrf_token %}
            <p>
                <label for="old_password">原密码：</label>
                <input type="password" id="old_password" placeholder="原密码" name="old_password" autofocus required />
            </p>

            <p>
                <label for="new_password">新密码：</label>
                <input type="password" id="new_password" placeholder="新密码" name="new_password" required>
            </p>
            <p>
                <label for="new_password_retry">确认密码：</label>
                <input type="password" id="new_password_retry" placeholder="确认密码" name="new_password_retry" required>
            </p>

            <div class="form-row">
                {{ form.captcha.errors }} {{ form.captcha.label_tag }} {{ form.captcha }}
                <input type="hidden" name="next" value="{{ next }}">
            </div>

            <input type="submit" value="修改" name="change">

        </form> -->

    <div id="appCapsule">

        <div class="blog-post">

            <div class="login-form ">

                <div class="section  mb-5">
                    <formsss>
                        <form action="/passwordchange/" method="post">
                            {% csrf_token %}
                            <div class="form-group boxed">
                                <div class="input-wrapper">
                                    <div class="text-start text-primary  userNameTip" style="visibility:hidden;">原密码/Old password</div>
                                    <input onclick="autoShowTip(this)" type="text" class="form-control text-primary my-login-input" id="userName" name="old_password" placeholder="原密码/Old password">
                                    <i class="clear-input icon-cancel text-primary">

                            </i>
                                </div>
                            </div>

                            <div class="form-group boxed">
                                <div class="input-wrapper">
                                    <div class="text-start text-primary  paasswordTip" style="visibility:hidden;">新密碼/Password</div>
                                    <input onclick="autoShowTip(this)" type="password" class="form-control text-primary my-pass-input" id="paassword" name="new_password" placeholder="新密碼/Password" autocomplete="off">
                                    <i class="clear-input icon-cancel text-primary">

                            </i>
                                </div>
                            </div>
                            <div class="form-group boxed">
                                <div class="input-wrapper">
                                    <div class="text-start text-primary  passwordRepeatTip" style="visibility:hidden;">确认密碼/Password</div>
                                    <input onclick="autoShowTip(this)" type="password" class="form-control text-primary my-pass-input" id="passwordRepeat" name="new_password_retry" placeholder="确认密碼/Password" autocomplete="off">
                                    <i class="clear-input icon-cancel text-primary">

                            </i>
                                </div>
                            </div>

                            <button onclick="startReg()" type="submit" class="btn btn-primary btn-block btn-lg">修改</button>
                        </form>
                    </formsss>
                    <p>{{ rlt }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- </div> -->

    <!-- </div> -->
    <div class="fab-button animate top-left dropdown" onclick="window.location.href='/space';" style="top: 10px;">
        <a href="/space" class="fab" data-bs-toggle="dropdown">
            <i name="add-outline" role="img" class="md icon-left-open" aria-label="add outline"></i>
        </a>
    </div>
    <script src="/static/js/saved_resource"></script>
    <script>
        $(document).ready(function() {

            fullScreenMode();
        });
    </script>
    <script src="/static/js/flatpickr.min.js"></script>
    <a class="bg-primary button goTop">
        <i class="icon-up"></i>
    </a>


</body>

</html>